@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, Sans-serif;
    --fonte2: 'Passion One', sans-serif;
    --fonte3: 'Sriracha', cursive;
}

* { /*configurações gerais da página*/
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html body {
    min-height: 100%; /*Ocupa 100 % da altura dos elementos*/
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    /*text-transform: uppercase; = Tranforma o texto de h1 em letras maiusculas, porém aparenta letras de forma gritante*/
    font-variant: small-caps; /*Tranforma o texto de h1 em letras maiusculas, porém, de forma bem mais suave */
    font-family: var(--fonte2);
    font-size: 10vw; /*Faz com que o h1 ocupe 10% da largura da tela, com isso, idenpendente do tamanho da tela, será ocupado 10% de largura.*/
}

header p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;/*Link sem sublinhado*/
    font-weight: bolder;/*Negrito*/

}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section { /*configuração para todas as sections*/
    padding-top: 10vh; /*preenchendo 10% da altura da view port de todas as sections, fazendo que cada section tenha 10% altura da tela de padding top e bottom.*/
    padding-bottom: 10vh;
    line-height: 2em; /*espaçamento entre as letras do corpo section*/
    padding-left: 30px; /*preechendo o lado esquerdo, fazendo com que o texto não fique colado no lado esquerdo.*/
    font-family: var(--fonte3);
    font-size: 3.5vw; /*Faz com que o h1 ocupe 10% da largura da tela, com isso, idenpendente do tamanho da tela, será ocupado 10% de largura.*/
}

section p {
    padding-bottom: 2em;
}

section.normal { /*section class=normal*/
    background-color: white;
    color: black;
}

section.imagem { /*section class=imagem*/
    background-color: rgba(0, 0, 0, 0.405);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.437);/*Sombra para dentro no section imagem, na página da a sensação que a section imagens está por cima das demais*/
    background-attachment: fixed;/*Faz com que as imagens fiquem fixa na página ao rolar com o mouse*/
}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.668);
    display: inline-block; /*Faz com que a caixa se adapte ao tamanho do conteúdo*/   
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#img01 { /*Aplicando id na section para que seja possível aplicar a imagem*/
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

section#img02 { /*Aplicando id na section para que seja possível aplicar a imagem*/
    background-image: url('../imagens/background002.jpg');
    background-position: bottom right;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}